/* *COLORS  */
/* ? color: sets the color of the element in html */
/* ? background-color: sets the color of the background */
h1{
    /* *RGB colors: is a Red, Green, Blue color channel that ranges from 0-255  0 beaing the least and 255 being the most*/
    /* * You can get white by maxing out rgb and black by making all values 0 */
    /**  Syntax: rgb(red, green, blue) */
    color: rgb(226, 255, 9);
    background-color: rgb(89,151,0);
    
}

button{
    /* * Hexidecimal: still ranges from 0-255 but instead is a base 16*/
    /* *This means that hexidecimal ranges from 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F, F being the greatest and 0 being the least F=15 */
    /** first 2 = red, second 2 = blue, third 2 = green */
    color: #F57872;
    background-color: #00FFC4 ;
    /* *There is also a short-hand for hexidecimal by typing one character for double characters ex: #5e2 */
}
p{
    color: olivedrab;
}

